@font-face {
  font-family: "WAGURI";
  src: url("./assets/fonts/waguri/WAGURI-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.waguri {
  font-family: "WAGURI";
}

/* Pretendard 로컬 폰트 선언 */
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Pretendard 폰트 스타일링 */
* {
  font-family: "Pretendard", sans-serif;
}

/* Heading */
.h1 {
  font-size: 1.875rem;
  font-weight: 700; /* Bold */
  line-height: 120%;
  letter-spacing: 0;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 600; /* Semi Bold */
  line-height: 120%;
  letter-spacing: 0;
}

.h3 {
  font-size: 1.25rem;
  font-weight: 600; /* Semi Bold */
  line-height: 120%;
  letter-spacing: 0;
}

/* Body */
.body1 {
  font-size: 1.125rem;
  font-weight: 600; /* Semi Bold */
  line-height: 120%;
  letter-spacing: 0;
}

.body2 {
  font-size: 1rem;
  font-weight: 600; /* Semi Bold */
  line-height: 140%;
  letter-spacing: 0;
}

.body3 {
  font-size: 1rem;
  font-weight: 500; /* Medium */
  line-height: 120%;
  letter-spacing: 0;
}

/* Caption */
.caption1 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
}

.caption2 {
  font-size: 0.875rem;
  font-weight: 400; /* Medium */
  line-height: 120%;
  letter-spacing: 0;
}

.caption3 {
  font-size: 0.75rem;
  font-weight: 400; /* Regular */
  line-height: 120%;
  letter-spacing: 0;
}
